{% extends 'base.html' %}
{% load static %}


{% block content %}



  <!-- class start -->
  <section class="class-area gray-bg pt-110 pb-90">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-8 col-sm-12">
                <div class="section-title section-title-2 wow fadeInUp" data-wow-delay=".2s">
                    <h2>Our Popular Classes</h2>
                    <p>Rorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidi dunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-4 col-sm-12 wow fadeInUp" data-wow-delay=".4s">
                <div class="class-btn f-right">
                    <a class="thm-btn thm-btn-2" href="class-details.html">See All Class</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="class-item mb-30 wow fadeInUp" data-wow-delay=".2s">
                    <div class="class-thumb">
                        <img src="{% static 'img/class/class-01.jpg' %}" alt="image_not_found">
                    </div>
                    <div class="class-text">
                        <a href="class-details.html"><h3>Athletic & Dance Classes</h3></a>
                        <span>Class time 8:00 am - 10:00 am</span>
                        <p>Rorem ipsum dolor sit amet, consectetu adipisicin elit, sed do eiusmotemp minimye.</p>
                    </div>
                    <ul class="schedule">
                        <li>
                            <span>Class Size</span>
                            <span>45 - 50</span>
                        </li>
                        <li>
                            <span>Years</span>
                            <span>07 - 10</span>
                        </li>
                        <li>
                            <span>Tution Fee</span>
                            <span>$120</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="class-item mb-30 wow fadeInUp" data-wow-delay=".4s">
                    <div class="class-thumb">
                        <img src="{% static 'img/class/class-02.jpg' %}" alt="image_not_found">
                    </div>
                    <div class="class-text">
                        <a href="class-details.html"><h3>Super Faster Speking English</h3></a>
                        <span>Class time 8:00 am - 10:00 am</span>
                        <p>Rorem ipsum dolor sit amet, consectetu adipisicin elit, sed do eiusmotemp minimye.</p>
                    </div>
                    <ul class="schedule">
                        <li>
                            <span>Class Size</span>
                            <span>45 - 50</span>
                        </li>
                        <li>
                            <span>Years</span>
                            <span>07 - 10</span>
                        </li>
                        <li>
                            <span>Tution Fee</span>
                            <span>$120</span>
                        </li>
                    </ul>

                  
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="class-item mb-30 wow fadeInUp" data-wow-delay=".6s">
                    <div class="class-thumb">
                        <img src="{% static 'img/class/class-03.jpg' %}" alt="image_not_found">
                    </div>
                    <div class="class-text">
                        <a href="class-details.html"><h3>Free Class System Sunday</h3></a>
                        <span>Class time 8:00 am - 10:00 am</span>
                        <p>Rorem ipsum dolor sit amet, consectetu adipisicin elit, sed do eiusmotemp minimye.</p>
                    </div>
                    <ul class="schedule">
                        <li>
                            <span>Class Size</span>
                            <span>45 - 50</span>
                        </li>
                        <li>
                            <span>Years</span>
                            <span>07 - 10</span>
                        </li>
                        <li>
                            <span>Tution Fee</span>
                            <span>$120</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- class end -->





{% endblock %}