{% extends 'base.html' %}
{% load static %}


{% block content %}


   <!-- feature start -->
   <section class="feature-area pt-110 pb-90 gray-bg">
    <div class="container">
        <div class="section-title text-center wow fadeInUp" data-wow-delay=".2s">
            <h2>Some Good Features</h2>
            <p>এখানে ১ বছরের কম বয়সী শিশুর জন্য রয়েছে আলাদা কক্ষ ও বিশেষ সুব্যবস্থা।  কর্মজীবি মায়েরা সকাল ৭:৩০ টা থেকে রাত ৮টা পর্যন্ত তাদের শিশুকে নিরাপদে রেখে কর্মস্থলে যেতে পারেন। </p>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="single-feature text-center mb-30 wow fadeInUp" data-wow-delay=".2s">
                    <div class="feature-icon mb-35">
                        <img src="{% static 'img/icon/f-01.png' %}" alt="image_not_found">
                    </div>
                    <div class="feature-text mb-25">
                        <h3>Expert teams</h3>
                        <p>per hour/per day/monthly /half day/full day  /Holiday যেকোনো সুবিধা গ্রহণ করতে পারেন। </p>
                    </div>
                    <div class="feature-btn">
                        <a href="about.html"><i class="ti-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="single-feature text-center mb-30 wow fadeInUp" data-wow-delay=".4s">
                    <div class="feature-icon icon-2 mb-35">
                        <img src="{% static 'img/icon/f-02.png' %}" alt="image_not_found">
                    </div>
                    <div class="feature-text mb-25">
                        <h3>Expert teams</h3>
                        <p>৪ বছরের কম বয়সী  শিশুদের জন্য রয়েছে pre schooling/play/ nursery  শিক্ষা ব্যাবস্থা ।</p>
                    </div>
                    <div class="feature-btn">
                        <a href="about.html"><i class="ti-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="single-feature text-center mb-30 wow fadeInUp" data-wow-delay=".6s">
                    <div class="feature-icon icon-3 mb-35">
                        <img src="{% static 'img/icon/f-03.png' %}" alt="image_not_found">
                    </div>
                    <div class="feature-text mb-25">
                        <h3>Expert teams</h3>
                        <p>একজন মায়ের সুবিধার দিকে লক্ষ্য রেখে আমরা শিশুদের খাবার ব্যবস্থাও রেখেছি</p>
                    </div>
                    <div class="feature-btn">
                        <a href="about.html"><i class="ti-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="single-feature text-center mb-30 wow fadeInUp" data-wow-delay=".8s">
                    <div class="feature-icon icon-4 mb-35">
                        <img src="{% static 'img/icon/f-04.png' %}" alt="image_not_found">
                    </div>
                    <div class="feature-text mb-25">
                        <h3>Expert teams</h3>
                        <p>প্রশিক্ষনপ্রাপ্ত শিক্ষক দ্বারা আরবি,  ছবি আঁকা ও প্রি স্কুলিং পরিচালনা করা হয়।</p>
                    </div>
                    <div class="feature-btn">
                        <a href="about.html"><i class="ti-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- feature end -->


 <!-- counter start -->
 <section class="counter-area pt-120 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="single-counter text-center mb-50">
                    <div class="counter-icon">
                        <img src="{% static 'img/icon/c-01.png' %}" alt="image_not_found">
                    </div>
                    <div class="couner-text">
                        <h3><span class="counter">878</span><span class="plus">+</span></h3>
                        <p>Students enrolled</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="single-counter text-center mb-50">
                    <div class="counter-icon">
                        <img src="{% static 'img/icon/c-02.png' %}" alt="image_not_found">
                    </div>
                    <div class="couner-text">
                        <h3><span class="counter">247</span><span class="plus">+</span></h3>
                        <p>Award Wining</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="single-counter text-center mb-50">
                    <div class="counter-icon">
                        <img src="{% static 'img/icon/c-03.png' %}" alt="image_not_found">
                    </div>
                    <div class="couner-text">
                        <h3><span class="counter">678</span><span class="plus">+</span></h3>
                        <p>Classes Completed</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="single-counter text-center mb-50">
                    <div class="counter-icon">
                        <img src="{% static 'img/icon/c-04.png' %}" alt="image_not_found">
                    </div>
                    <div class="couner-text">
                        <h3><span class="counter">142</span><span class="plus">+</span></h3>
                        <p>OUr Total Courses</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- counter end -->


{% endblock %}