
{% load static %}


{% block content %}

 <!-- about start -->
 <section class="about-area pt-60 pb-60 fix">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="about-right mb-50">
                    <div class="section-title wow fadeInUp" data-wow-delay=".2s">
                        <h2>About Us</h2>
                        <p>
                            Happys baby day care Our Daycare is completely air-conditioned, secure and consists a child-friendly environment. We have 24/7 CCTV camera surveillance. Parents can watch their baby from home through video call. We provide drawing and Arabic learning classes under supervision of qualified and experienced teachers. Over here we work focusing on creating moral values in children.
                            
                            * There are separate rooms and special facilities for children under 1 year of age.Working mothers can go to work leaving their children in a safe place Time:8:30am-8:00pm with overtime facilities.We keep children’s from 0 months -12 years
                            
                            * per hour / per day / monthly / half day / full day / Holiday. Any of these options can be taken
                            
                            *Pre-schooling / play / nursery education system for children under 4 years of age is provided
                            
                            *Arabic, drawing and prescooling are conducted by professional teachers.
                            
                            *Arrangements to drop/pick up school children is available
                            
                            *Where will the parents leave the child when they are going out in an important occasion? In that case we have daily and holyday services available
                            
                            *Hourly based playtime service available
                            
                            * Only Arabic/drawing classes available</p> 
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="about-box wow fadeInUp" data-wow-delay=".4s">
                                <ul>
                                    <li>
                                        <i class="ti-check"></i>
                                        <h4>Quality Educators</h4>
                                    </li>
                                    <li>
                                        <i class="ti-check"></i>
                                        <h4>Secure</h4>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="about-box about-box-2 wow fadeInUp" data-wow-delay=".6s">
                                <ul>
                                    <li>
                                        <i class="ti-check"></i>
                                        <h4>Careeing</h4>
                                    </li>
                                    <li>
                                        <i class="ti-check"></i>
                                        <h4>Quick response</h4>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="about-right-bottom clearfix mt-20">
                        <div class="about-btn f-left wow fadeInUp" data-wow-delay=".8s">
                            <a class="thm-btn" href="about.html">About Us</a>
                        </div>
                        <div class="about-author wow fadeInUp" data-wow-delay="1s">
                            <div class="about-author-thumb">
                                <img src="{% static 'img/about/about-author-thumb.png' %}" alt="image_not_found">
                            </div>
                            <div class="about-author-text fix">
                                <h4>088 018 987 384</h4>
                                <span>Owner of Kinden..</span>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="col-xl-5 offset-xl-1 col-lg-6 col-md-12">
                <div class="about-left about-left-2 pos-rel mb-50 wow fadeInRight" data-wow-delay=".4s">
                    <div class="about-img-big">
                        <img src="{% static 'img/about/index.jpeg' %}" alt="image_not_found">
                    </div>
                    <div class="about-img-sml">
                        <img src="{% static 'img/about/galleryplay1.jpeg' %}" alt="image_not_found">
                    </div>

                    <div class="about-video-btn">
                        <a class="popup-video video-icon" href="https://www.facebook.com/watch/?v=574479043373815"><i class="fas fa-play"></i></a>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about end -->



{% endblock %}