
{% load static %}


{% block content %}



  <!-- class start -->
  <section class="class-area gray-bg pt-60 pb-60">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-8 col-sm-12">
                <div class="section-title section-title-2 wow fadeInUp" data-wow-delay=".2s">
                    <h2>Why Happys Baby Daycare</h2>
                    <p> 
                        Every child is different. So it is very important to understand the attitude and behavior of each child. Different child needs different type of handling. To ensure the baby's speech, food, good behavior, rest and finally the safety and development of the baby is our main target. Food: Most babies are reluctant to eat. Many mothers do not understand how to feed the baby due to inadequate experience. We are very proficient in that case Behavior: - Of course, every child should be trained on how to play with everyone without dispute. At the same time, they should be taught self-respect and morality. They should be taught the application of saying sorry, sharing, appreciating others and basic decency. Sleep: - We ensure that the child gets enough rest to be cheerfully throughout the day.Speech: Nowadays most of the children are late to talk, at home there is not much option to socialize or interact. In the daycare they can socialize and talk freely.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-4 col-sm-12 wow fadeInUp" data-wow-delay=".4s">
                <div class="class-btn f-right">
                    <a class="thm-btn thm-btn-2" href="{% url 'classes:classes' %}">See All Class</a>
                </div>
            </div>
        </div>
        <div class="row">


         
         

                         
            {% for class in homeservices %}



                <div class="col-lg-4 col-md-6">
                    <div class="class-item mb-30 wow fadeInUp" data-wow-delay=".2s">
                        <div class="class-thumb">
                            <img src="{{class.image.url}}" alt="image_not_found">
                        </div>
                        <div class="class-text">
                            <a href="{% url 'classes:services-detail' class.pk %}"><h3>{{class.title|truncatechars:30}}</h3></a>
                            <span>Class time {{class.classtimestart}} - {{class.classtimefinish}} </span>
                            <p>{{class.content|truncatechars:100}}</p>
                        </div>
                        <ul class="schedule">
                            <li>
                                <span>Duration</span>
                                <span>{{class.durationofclass}} Hours</span>
                            </li>
                            <li>
                                <span>Years</span>
                                <span>{{class.childagestart}} - {{class.childagefinish}}</span>
                            </li>
                            <li>
                                <span>Tution Fee</span>
                                <span>${{class.price}}</span>
                            </li>
                        </ul>
                    </div>

                      <!-- Button trigger modal --> 
                <!-- <div class="box">  -->
                    <!-- <button class="trigger"> -->
                        <!-- <a  class="d-flex justify-content-center trigger mb-3"  href="#popup1">Click for register</a> -->
                       
                            <a class="thm-btn thm-btn-2 d-flex justify-content-center" href="#popup1">Click for register</a>
                 
                    <!-- </button> -->
                <!-- </div> -->
                 <!-- Modal -->
                <div id="popup1" class="overlay">
                    <div class="popup">
                        <h2>Please fillup the form</h2>
                        <a class="close" href="#">&times;</a>
                        <div class="content">
                          
                            <form action="" method="POST" enctype="multipart/form-data">  
                                {% csrf_token %}    
                                <input name="name" type="text" class="feedback-input" placeholder="Name" />
                             
                                  <div class="dropdownbox ">
                                    <select required name="Servicesname"> 
                                      <option value='none'>Select one service</option>
                                      {% for service in all_service %}
                                      <option value='{{service.id}}'>{{service.category}}</option>
                                      {% endfor %}
                                    </select>
                                  </div>
    

                                  
                                <input  name="nid" type="text" class="feedback-input" placeholder="write your NID Number" />
                                <input required name="phonenumber" type="text" class="feedback-input" placeholder="write your phone number" />
                                <textarea name="message" class="feedback-input" placeholder="write your query"></textarea>
                                <input type="submit" value="SUBMIT"/>
                              </form>

                            </div> 


                        </div>
                    </div>

                </div>
              


            {% endfor %}




            </div>
        </div>
    </div>
</section>
<!-- class end -->


{% endblock %}