/* XXl Device :1500px. */
@media (min-width: 1500px) and (max-width: 1720px) {
    .header-space, .banner-space {
        padding: 0;
    }
    .main-menu .menu li {
        margin-right: 32px;
    }
    .header-right .search-box input {
        max-width: 280px;
    }
    .header-right .header-btn {
        margin-left: 20px;
    }
    .header-2 {
        margin: 0 110px;
        margin-top: 40px;
    }
    .page-title-right {
        right: 10%;
    }
}
/* XL Device :1200px. */
@media (min-width: 1200px) and (max-width: 1499px) {
    .header-space, .banner-space {
        padding: 0 10px;
    }
    .main-menu .menu li {
        margin-right: 16px;
    }
    .header-right .search-box input {
        max-width: 250px;
    }
    .header-right .header-btn {
        margin-left: 20px;
    }
    .header-right .header-btn a {
        padding: 16px 22px;
    }
    .banner-right {
        margin-left: 60px;
    }
    .main-menu .menu li a {
        padding: 37px 0px;
    }
    .banner-height {
        min-height: 700px;
    }
    .header-2 {
        margin: 0 50px;
        margin-top: 30px;
    }
    .banner-2.banner-space {
        padding: 0;
    }
    .banner-2 .banner-right-2 {
        margin-left: 5%;
    }
    .about-left.about-left-2 {
        float: left;
        margin-left: -50px;
    }
    .page-title-right {
        right: 5%;
    }
    .logo img {
        width: 160px;
    }

}


/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1199px) {
    .header-space, .banner-space {
        padding: 0 10px;
    }
    .logo img {
        max-width: 140px;
    }
    .main-menu .menu li {
        margin-right: 25px;
    }
    .header-right .header-btn {
        margin-left: 0;
    }
    .header-right .header-btn a {
        padding: 16px 22px;
    }
    .main-menu .menu li a {
        padding: 35px 0px;
    }
    .banner-right {
        margin-left: 40px;
    }
    .banner-height {
        min-height: 650px;
    }
    .banner-content h1 {
        font-size: 58px;
        line-height: 65px;
    }
    .about-right {
        margin-left: 0;
    }
    .about-box ul li i {
        margin-right: 10px;
    }
    .about-box ul li {
        padding: 8px 8px;
        margin-bottom: 20px;
    }
    .about-author h4 {
        font-size: 20px;
    }
    .about-author-thumb {
        margin-right: 10px;
    }
    .about-left .about-img-sml {
        right: -15%;
    }
    .single-feature {
        padding: 40px;
    }
    .facilities-left {
        display: flex;
        justify-content: space-around;
    }
    .facilities-box {
        width: 33%;
        margin-bottom: 30px;
        margin-right: 30px;
        padding: 20px;
    }
    .facilities-box:last-child {
        margin-right: 0;
    }
    .facilities-box .facilities-box-icon {
        margin-right: 12px;
    }
    .class-item .class-text h3 {
        font-size: 22px;
    }
    .blog-active.owl-carousel .owl-nav div {
        top: -15%;
    }
    .blog-content {
        padding: 18px 30px;
        padding-left: 30px;
    }
    .brand-active.owl-carousel .owl-item img {
        width: 95%;
    }
    .footer-widget-space {
        margin-left: -50px;
        padding-right: 60px;
    }
    .footer-left-widget {
        margin-right: 0;
    }
    .footer-widget.instagram {
        margin-left: -45px;
    }
    .header-2 {
        margin: 0 20px;
        margin-top: 20px;
    }
    .banner-2.banner-space {
        padding: 0;
    }
    .banner-2 .banner-right-2 {
        margin-left: 0;
    }
    .feature-2 .single-feature {
        padding: 0 60px;
        margin-top: 0;
    }
    .facilities-2 .facilities-box {
        width: 100%;
        margin-bottom: 0;
    }
    .facilities-item-text h3 {
        font-size: 22px;
    }
    .footer-bottom-2 .footer-widget.link {
        margin-left: 0;
    }
    .footer-bottom-2 .footer-widget-space {
        margin-left: 0;
        padding-right: 150px;
    }
    .footer-bottom-2 .footer-left-widget {
        padding-right: 85px;
    }
    .footer-bottom-2 .footer-widget {
        padding-top: 0;
    }
    .footer-bottom-2 .footer-left-widget {
        padding: 0;
    }
    .footer-bottom-2 .footer-widget.instagram {
        margin-left: 0;
        max-width: 300px;
    }
    .footer-bottom.footer-bottom-2 {
        padding-top: 70px;
    }
    .page-title-right {
        right: 3%;
    }
    .about-right-3 {
        margin-left: 0;
    }
    .team-detls-left {
        margin-right: 0;
    }
    .team-info-list li {
        width: 100%;
    }
    .contact-map {
        margin-left: 0;
    }
    .news-wrapper {
        margin-right: 0;
    }
    .widget {
        padding: 25px 17px;
    }
    .widget ul.post .widget-post-content {
        padding: 10px;
    }
    .post-content .post-title {
        font-size: 30px;
        line-height: 40px;
    }
    .team-dtls-right {
        margin-left: 0;
    }
}

 
/* MD Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    .header-space, .banner-space {
        padding: 0 10px;
    }
    .header-area .main-menu {
        padding: 0;
    }
    .header-area.header-space {
        padding: 25px 0px;
    }
    .banner-height {
        min-height: 600px;
    }
    .about-left {
        margin-bottom: 130px;
    }
    .about-right {
        margin-left: 0;
    }
    .about-area .about-right .section-title {
        margin-left: 0;
    }
    .about-left .about-img-sml {
        bottom: -20%;
        right: 12%;
    }
    .counter-area .counter-icon {
        top: -30%;
        right: 22%;
    }
    .facilities-left {
        display: flex;
        justify-content: space-around;
    }
    .facilities-box {
        box-shadow: 0px 9px 24px 0px rgba(222, 229, 231, 0.51);
        width: 33%;
        margin-bottom: 30px;
        margin-right: 30px;
        padding: 20px;
    }
    .facilities-box:last-child {
        margin-right: 0;
    }
    .facilities-box .facilities-box-icon {
        float: none;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .class-item .class-text h3 {
        font-size: 24px;
    }
    .section-title {
        max-width: 500px;
    }
    .blog-active.owl-carousel .owl-nav div {
        top: -17%;
    }
    .section-title h2 {
        font-size: 40px;
    }
    .brand-active.owl-carousel .owl-item img {
        width: 95%;
    }
    .footer-widget.instagram {
        max-width: 200px;
    }
    .footer-widget {
        padding-top: 30px;
    }
    .footer-widget-space {
        margin-left: 0;
        padding-right: 70px;
    }
    .blog-content {
        padding: 15px 20px;
        padding-left: 20px;
    }
    .footer-left-widget {
        margin-right: 0;
    }
    .header-2 {
        margin: 0 20px;
        margin-top: 20px;
    }
    .banner-2.banner-space {
        padding: 0;
    }
    .facilities-2 .facilities-box {
        width: 100%;
    }
    .footer-bottom-2 .footer-widget.link {
        margin-left: 0;
    }
    .footer-bottom-2 .footer-widget.instagram {
        max-width: 300px;
        margin-left: 0;
    }
    .footer-bottom-2 .footer-left-widget {
        padding: 0;
    }
    .footer-bottom-2 .footer-widget {
        padding-top: 0;
    }
    .footer-bottom.footer-bottom-2 {
        padding-top: 70px;
    }
    .feature-2 .single-feature {
        margin-top: 0;
    }
    .page-title-area {
        padding-top: 200px;
        padding-bottom: 100px;
    }
    .about-right-3 {
        margin-bottom: 50px;
        margin-left: 0;
    }
    .team-detls-left {
        margin-right: 0;
    }
    .team-info-list li {
        width: 100%;
    }
    .contact-map {
        margin-left: 0;
    }
    .contact-info-area .contact-box-wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    .contact-info-area .single-contact {
        width: 32%;
        flex-wrap: wrap;
        display: flex;
    }
    .contact-info-area .single-contact .contact-icon {
        margin-bottom: 20px;
    }
    .news-wrapper {
        margin-right: 0;
    }
    .side-mobile-menu {
        display: block;
    }
    .slide-bar.show {
        left: 0;
    }
    .team-dtls-right {
        margin-left: 0;
    }
}

 
/* SM Device :320px. */
@media (max-width: 767px) {
    .header-space, .banner-space {
        padding: 0 10px;
    }
    .header-area .main-menu {
        padding: 0;
    }
    .header-area.header-space {
        padding: 25px 0px;
    }
    .banner-height {
        min-height: 600px;
    }
    .banner-content h1 {
        font-size: 40px;
        line-height: 50px;
    }
    .about-img-big img {
        width: 100%;
    }
    .about-img-sml img {
        width: 70%;
        float: right;
    }
    .about-left {
        margin-bottom: 100px;
    }
    .about-left .about-img-sml {
        bottom: -18%;
        right: -12%;
    }
    .about-right {
        margin-left: 0;
    }
    .about-area .about-right .section-title h2 {
        font-size: 35px;
        line-height: 44px;
    }
    .about-author {
        float: left;
        margin-top: 28px;
    }
    .section-title h2 {
        font-size: 35px;
        line-height: 44px;
    }
    .class-btn {
        float: left;
        margin-bottom: 50px;
    }
    .class-area .section-title-2 {
        margin-bottom: 35px;
    }
    .gallery-menu button {
        margin-bottom: 10px;
    }
    .gallery-menu {
        margin-bottom: 40px;
    }
    .blog-active .owl-nav {
        display: none;
    }
    .blog-content {
        padding-left: 20px;
    }
    .footer-top .section-title {
        margin-bottom: 40px;
        padding-right: 0;
        text-align: center;
    }
    .footer-left-widget {
        margin-right: 0;
    }
    .footer-widget {
        padding-top: 0;
    }
    .footer-widget-space {
        margin-left: 0;
    }
    .footer-widget.instagram {
        max-width: 176px;
    }
    .about-author h4 {
        font-size: 25px;
    }
    .about-author-thumb {
        margin-right: 10px;
    }
    .header-2 {
        padding: 0px;
        margin: 0;
        margin-top: 0;
    }
    .banner-2.banner-space {
        padding: 0;
    }
    .about-left .about-img-sml {
        display: none;
    }
    .about-img-sml img {
        width: 57%;
        float: right;
    }
    .feature-2 .single-feature {
        margin-top: 0;
    }
    .facilities-2 .row {
        margin-bottom: 0;
    }
    .facilities-item-text {
        padding: 16px 22px;
    }
    .blog-area .section-title-2 {
        text-align: center;
    }
    .footer-bottom-2 .footer-left-widget {
        padding: 0;
    }
    .footer-bottom-2 .footer-widget.link {
        margin-left: 0;
    }
    .footer-widget.instagram {
        max-width: 100%;
    }
    .about-right-3 {
        margin-bottom: 50px;
        margin-left: 0;
    }
    .page-title-area {
        padding-top: 200px;
        padding-bottom: 100px;
    }
    .page-title h1 {
        font-size: 40px;
    }
    .team-detls-left {
        margin-right: 0;
    }
    .team-info-list li {
        width: 100%;
    }
    .contact-form {
        padding: 40px 20px;
    }
    .contact-form h3, .team-dtls-title h2 {
        font-size: 32px;
    }
    .contact-map {
        margin-left: 0;
    }
    .contact-info-area .single-contact .contact-icon {
        margin-bottom: 20px;
    }
    .contact-map {
        height: 300px;
    }
    .contact-map iframe {
        height: 300px
    }
    .news-wrapper {
        margin-right: 0;
    }
    .post-content .post-title, .class-detals .text h4 {
        font-size: 28px;
        line-height: 38px;
    }
    .post-content .post-meta span {
        margin-bottom: 8px;
    }
    .post-blockquote blockquote {
        padding: 25px 20px;
    }
    .post-blockquote blockquote p {
        font-size: 20px;
    }
    .pagination-wrapper ul li {
        margin: 0 2px;
        margin-bottom: 10px;
    }
    .pagination-wrapper ul li a {
        height: 45px;
        width: 45px;
        font-size: 14px;
        line-height: 45px;
    }
    .post-item .post-content {
        padding: 20px;
    }
    .widget {
        padding: 20px;
    }
    .comment-box .comment-avatar {
        float: none;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .comment-box {
        padding: 0 20px;
        margin-bottom: 30px;
    }
    .comment-reply {
        padding-left: 0;
    }
    .facilities-box .facilities-box-icon {
        float: none;
        margin-bottom: 15px;
    }
    .footer-bottom.footer-bottom-2 {
        padding-top: 70px;
        padding-bottom: 50px;
    }
    .side-mobile-menu {
        display: block;
    }
    .hamburger-menu {
        display: block !important;
    }
    .slide-bar.show {
        left: 0;
    }
    .about-left {
        margin-bottom: 40px;
    }
    .feature-area, .class-area, .gallery-area, .team-area {
        padding-bottom: 70px;
    }
    .counter-area {
        padding-bottom: 40px;
    }
    .facilities-area, .class-area, .team-area, .blog-area, .about-2, .feature-2 {
        padding-top: 90px;
    }
    .facilities-area, .about-2 {
        padding-bottom: 60px;
    }
    .about-2 .about-video-btn .video-icon {
        left: 0;
        bottom: inherit;
    }
    .news-feeds-area, .contact-form-area, .team-details-area {
        padding-bottom: 60px;
    }
    .feature-3 {
        padding-bottom: 100px;
    }
    .team-dtls-right {
        margin-left: 0;
    }
    .about-video-btn .video-icon {
        left: 0;
        bottom: inherit;
    }
    .about-area {
        padding-bottom: 60px;
    }
}
 
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
.about-img-sml img {
	width: 75%;
}
 
}
