{% extends 'base.html' %}
{% load static %}


{% block content %}

{% include 'homeapp/navbar.html' %}

   <!-- contact info start -->
   <section class="contact-info-area fix pt-120 pb-90">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-5">
                <div class="contact-box-wrapper">
                    <div class="single-contact mb-30">
                        <div class="contact-icon">
                            <i class="fas fa-envelope"></i>
                        </div>
                        <div class="contact-text">
                            <h4>Email Adress</h4>
                            <p>afruzahappy@gmail.com</p>
                          
                        </div>
                    </div>
                    <div class="single-contact mb-30">
                        <div class="contact-icon contact-icon-2">
                            <i class="fas fa-phone"></i>
                        </div>
                        <div class="contact-text">
                            <h4>Phone Number</h4>
                            <p>01799384087</p>
                            
                        </div>
                    </div>
                    <div class="single-contact mb-30">
                        <div class="contact-icon contact-icon-3">
                            <i class="fas fa-map-marker-alt"></i>
                        </div>
                        <div class="contact-text">
                            <h4>Our Location</h4>
                            <p>রোড নং ৯/এ, মিনা বাজারের পেছনে, বাসা নং- ৫৭,  ২ সি,  ধানমন্ডি। </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-7 offset-xl-1 col-lg-7">
                <!-- contact form start -->
<section class="contact-form-area pb-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="contact-form gray-bg mb-40">
                    <form action="" method="POST" enctype="multipart/form-data">  
                        {% csrf_token %} 
                        <div class="row">
                            <div class="col-lg-12">
                                <input name="name" type="text" placeholder="Enter Your Name">
                            </div>
                            <div class="col-lg-12">
                                <input required name="phonenumber" type="text" placeholder="Enter Your phone number">
                            </div>
                            <div class="dropdownbox ">
                                <select required name="Servicesname">
                                  <option value='none'>Select one service</option>
                                  {% for service in services %}
                                  <option value='{{service.id}}'>{{service.title}}</option>
                                  {% endfor %}
                                </select>
                              </div>
                            <div class="col-lg-12">
                                <textarea name="message" cols="30" rows="10" placeholder="Your Massage"></textarea>
                                <div class="contact-form-btn text-center">
                                    <button class="thm-btn thm-btn-2" type="submit">Send Message</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- contact form end -->          
            </div>
        </div>
    </div>
</section>
<!-- contact info end -->

<div class="container">
    <div class="row">
        <div class="contact-map ml-1">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d14602.254272231177!2d90.3654215!3d23.7985508!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1592852423971!5m2!1sen!2sbd" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>

    </div>
</div>

</main>

{% include 'homeapp/footer.html' %}

{% endblock %}
