{% extends 'base.html' %}
{% load static %}


{% block content %}

{% include 'homeapp/navbar.html' %}



<main>
    <!-- page title start -->

<!-- 
    <section class="page-title-area gray-bg-2">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6">
                    <div class="page-title">
                        <h1><span>Te</span><span>ac</span><span>h</span><span>er</span></h1>
                        <div class="breadcrumb-wrapper">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="index.html">Home</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">Teacher</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-title-right d-none d-lg-block">
                <img src="img/page-title/page-title-img.png" alt="image_not_found">
            </div>
        </div>
    </section> -->



    <!-- page title end -->

    <!-- team start -->
    <section class="team-area pt-110 pb-90">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="team-single text-center mb-30 wow fadeInUp" data-wow-delay=".2s">
                        <div class="team-top pos-rel">
                            <div class="team-thumb">
                                <img src="img/team/team-01.jpg" alt="image_not_found">
                            </div>
                            <ul class="team-social">
                                <li><a href="#"><i class="ti-facebook"></i></a></li>
                                <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                                <li><a href="#"><i class="ti-google"></i></a></li>
                                <li><a href="#"><i class="ti-instagram"></i></a></li>
                            </ul>
                        </div>
                        <div class="team-info">
                            <a href="team-details.html"><h3>Rasalina De Willam</h3></a>
                            <span>Founder & CO</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="team-single text-center mb-30 wow fadeInUp" data-wow-delay=".4s">
                        <div class="team-top pos-rel">
                            <div class="team-thumb">
                                <img src="img/team/team-02.jpg" alt="image_not_found">
                            </div>
                            <ul class="team-social">
                                <li><a href="#"><i class="ti-facebook"></i></a></li>
                                <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                                <li><a href="#"><i class="ti-google"></i></a></li>
                                <li><a href="#"><i class="ti-instagram"></i></a></li>
                            </ul>
                        </div>
                        <div class="team-info">
                            <a href="team-details.html"><h3>Alexar Kim Piterson</h3></a>
                            <span>Founder & CO</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="team-single text-center mb-30 wow fadeInUp" data-wow-delay=".6s">
                        <div class="team-top pos-rel">
                            <div class="team-thumb">
                                <img src="img/team/team-03.jpg" alt="image_not_found">
                            </div>
                            <ul class="team-social">
                                <li><a href="#"><i class="ti-facebook"></i></a></li>
                                <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                                <li><a href="#"><i class="ti-google"></i></a></li>
                                <li><a href="#"><i class="ti-instagram"></i></a></li>
                            </ul>
                        </div>
                        <div class="team-info">
                            <a href="team-details.html"><h3>Mechal Jonsan Tim</h3></a>
                            <span>Founder & CO</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="team-single text-center mb-30 wow fadeInUp" data-wow-delay=".2s">
                        <div class="team-top pos-rel">
                            <div class="team-thumb">
                                <img src="img/team/team-04.jpg" alt="image_not_found">
                            </div>
                            <ul class="team-social">
                                <li><a href="#"><i class="ti-facebook"></i></a></li>
                                <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                                <li><a href="#"><i class="ti-google"></i></a></li>
                                <li><a href="#"><i class="ti-instagram"></i></a></li>
                            </ul>
                        </div>
                        <div class="team-info">
                            <a href="team-details.html"><h3>Ummey Salma</h3></a>
                            <span>Founder & CO</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="team-single text-center mb-30 wow fadeInUp" data-wow-delay=".4s">
                        <div class="team-top pos-rel">
                            <div class="team-thumb">
                                <img src="img/team/team-05.jpg" alt="image_not_found">
                            </div>
                            <ul class="team-social">
                                <li><a href="#"><i class="ti-facebook"></i></a></li>
                                <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                                <li><a href="#"><i class="ti-google"></i></a></li>
                                <li><a href="#"><i class="ti-instagram"></i></a></li>
                            </ul>
                        </div>
                        <div class="team-info">
                            <a href="team-details.html"><h3>Abdur Rahim Babu</h3></a>
                            <span>Founder & CO</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="team-single text-center mb-30 wow fadeInUp" data-wow-delay=".6s">
                        <div class="team-top pos-rel">
                            <div class="team-thumb">
                                <img src="img/team/team-06.jpg" alt="image_not_found">
                            </div>
                            <ul class="team-social">
                                <li><a href="#"><i class="ti-facebook"></i></a></li>
                                <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                                <li><a href="#"><i class="ti-google"></i></a></li>
                                <li><a href="#"><i class="ti-instagram"></i></a></li>
                            </ul>
                        </div>
                        <div class="team-info">
                            <a href="team-details.html"><h3>Kasim Pur Pasa</h3></a>
                            <span>Founder & CO</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="team-single text-center mb-30 wow fadeInUp" data-wow-delay=".2s">
                        <div class="team-top pos-rel">
                            <div class="team-thumb">
                                <img src="img/team/team-07.jpg" alt="image_not_found">
                            </div>
                            <ul class="team-social">
                                <li><a href="#"><i class="ti-facebook"></i></a></li>
                                <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                                <li><a href="#"><i class="ti-google"></i></a></li>
                                <li><a href="#"><i class="ti-instagram"></i></a></li>
                            </ul>
                        </div>
                        <div class="team-info">
                            <a href="team-details.html"><h3>Azizul Hoq Badsa</h3></a>
                            <span>Founder & CO</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="team-single text-center mb-30 wow fadeInUp" data-wow-delay=".4s">
                        <div class="team-top pos-rel">
                            <div class="team-thumb">
                                <img src="img/team/team-08.jpg" alt="image_not_found">
                            </div>
                            <ul class="team-social">
                                <li><a href="#"><i class="ti-facebook"></i></a></li>
                                <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                                <li><a href="#"><i class="ti-google"></i></a></li>
                                <li><a href="#"><i class="ti-instagram"></i></a></li>
                            </ul>
                        </div>
                        <div class="team-info">
                            <a href="team-details.html"><h3>Noyakhalir Kabila</h3></a>
                            <span>Founder & CO</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="team-single text-center mb-30 wow fadeInUp" data-wow-delay=".6s">
                        <div class="team-top pos-rel">
                            <div class="team-thumb">
                                <img src="img/team/team-09.jpg" alt="image_not_found">
                            </div>
                            <ul class="team-social">
                                <li><a href="#"><i class="ti-facebook"></i></a></li>
                                <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                                <li><a href="#"><i class="ti-google"></i></a></li>
                                <li><a href="#"><i class="ti-instagram"></i></a></li>
                            </ul>
                        </div>
                        <div class="team-info">
                            <a href="team-details.html"><h3>Borisal Er Hadu</h3></a>
                            <span>Founder & CO</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- team end -->
</main>




{% include 'homeapp/footer.html' %}

{% endblock %}